@import "tailwindcss";

@theme {
  /* Warna Utama (Merah/Rose untuk tema makanan) */
  --color-brand-50: #fff1f2;
  --color-brand-100: #ffe4e6;
  --color-brand-200: #fecdd3;
  --color-brand-500: #f43f5e;
  --color-brand-600: #e11d48; /* Warna utama tombol/header */
  --color-brand-700: #be123c;
  
  /* Warna Sekunder (Kuning untuk Bintang Rating) */
  --color-secondary-500: #eab308;
}

/* Animasi Kustom */
@keyframes fade-in-up {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-up {
  animation: fade-in-up 0.5s ease-out forwards;
}

/* Utilitas tambahan untuk menyembunyikan scrollbar (dipakai di filter kota) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}